/*!loading button */
.loader {
    border: 4px solid rgba(0, 0, 0, .1);
    border-left-color: transparent;
    border-radius: 50%;
    position: relative;
    right: 1em;
}

.loader {
    border: 4px solid rgba(0, 0, 0, .1);
    border-left-color: transparent;
    width: 19px;
    height: 19px;
}

.loader {
    border: 4px solid #3300ff;
    border-left-color: transparent;
    width: 19px;
    height: 19px;
    animation: spin89345 1s linear infinite;
}

@keyframes spin89345 {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}